@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
    --accent-color:rgb(3, 145, 233);
}
body{
    font-family: 'Poppins','sans-serif';
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.2rem;
}
p{
    font-family: 'Roboto','sans-serif';
    font-size: 1.25;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
/* Utility Classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline:auto ;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}
.flex{
    display: flex;
    align-items: center;
}
.link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.link:hover{
    color: var(--accent-color);
}
.p-button{
background-color:var(--accent-color);
border-radius: 6px;
font-weight: 500;
color: white !important;
padding: 8px 22px;
box-shadow: 0 0 2px var(--secondary-text-color);
transition: 0.2s ease-out;
text-align: center;
}
.p-button:hover{
background-color: var(--accent-color-dark);
}
.s-button{
    border: 0.5px solid var(--secondary-text-color);
    color: var(--primary-text-color) !important;
    border-radius: 6px;
    font-weight: 500;
    padding: 8px 22px;
    box-shadow: 0 0 2px var(--secondary-text-color);
transition: 0.2s ease-out;
}
.s-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
    }

.top-banner{
    background-color: rgb(255, 68, 131);
    background-image: url('assets/asset\ 28.png');
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.main-nav{
    margin-top: 20px;
justify-content: space-between;
position: relative;
}
.company-logo img{
    width: 200px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.nav-toggle{
    display: none;
}
/* header Section */
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 10px;;
}
.header-right img{
    width: 100%;
}
/* companies section */
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.logo{
    height: 46px;
}
/* features */
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 29.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64% 100%;
}
.features-header{
    text-align: center;
    padding-top: 80px;
}
.features-heading-text{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
    margin-top: 30px;
}
.features-card img{
    width: 50px;
    height: 50px;
}
/* big-fetures-section */
.big-fetures-section{
    padding:30px var(--padding-inline-section) 0;
}
.big-featyre-container{
    gap: 50px;

}
#second-big-feture{
    flex-direction: row-reverse;
}
.feature-img img{
    width: 90%;
}
.feature-desc{
flex-direction: column;
align-items: flex-start;
}
.feature-desc1{
    padding-top: 40px;
}
.feature-desc1 p{
    background-image: url(./assets/asset\ 30.svg);
    background-repeat: no-repeat;
background-position: left top;
}

.feature-desc img{
float: left;
width: 50px;
height: 50px;
}
.abc{
    padding-top: 40px;
}
/* example section */
.example-section{
    padding: 20px var(--padding-inline-section);
}
.examples-header{
    padding-top: 50px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.examples-card{
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background :linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./assets/asset\ 35.jpg);
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px;
      transition: 0.3s ease-out;
}
.examples-card:hover{
    box-shadow: 0 0 10px greenyellow;
}
.ex1{
    background :linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./assets/asset\ 36.jpg);
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px;
}
.ex2{
    background :linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./assets/asset\ 37.avif);
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px;
}
.ex3{
    background :linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./assets/asset\ 38.jpg);
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
.examples-area{
    justify-content: space-between;
    margin-block: 40px;
    flex-wrap: wrap;
}
/* cta-section */
.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}
.cta-section{
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #183b54;
}
.cta-section-container p{
color: white;
margin-top: 20px;
}
/* footer */
footer{
    padding-block: 90px;
    background-color: #ebfcfa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
/* sub footer */
.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.sub-footer-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

